html, body {
    height: 100%;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    background-color: #f4eb4a;
}
main {
    flex: 1;
}

.text-yellow {
    color: #f4eb4a;
}

.nav-link {
    font-size: 0.9rem;
    transition: all 0.3s ease;
}

.list-link {
    font-size: 0.9rem;
    transition: all 0.3s ease;
}

.list-link:hover {
    background-color: gray;
}

.nav-link:hover {
    border: 3px solid rgb(183, 83, 207);
    transform: scale(1.1);
}

.carousel-inner {
    height: 450px;
}

.carousel-img {
    height: 100%;
    object-fit: contain; 
    object-position: center center;
}

.dark-placeholder::placeholder {
    color: white !important;
    opacity: 1;
}

#loading-screen {
    transition: opacity 0.3s ease;
    opacity: 1;
    pointer-events: all;
    display: flex !important;
}

#loading-screen.hidden {
    opacity: 0;
    pointer-events: none;
    display: none !important;
}

@media (max-width: 768px) {
    .carousel-inner {
        height: 200px;
    }
}

@media (max-width: 576px) {
    .carousel-inner {
        height: 150px;
    }
}